.home_body{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    gap: 30px;

    padding: 30px;

    align-items: flex-start;
}

/* 다이어리 페이지 */
.private_show,
.share_show,
.open_show{
    position: relative;
    width: 300px;
    height: 856px;
    padding: 30px;
    flex: 1;

    border: 1px solid #b8b8b8;
    border-radius: 2px;

    // box-shadow:
    //     0 8px 20px rgba(0,0,0,0.05);

    overflow: hidden;
    opacity: 0;
    animation: slideInRight 0.6s ease forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.private_show {
    animation-delay: 0.04s;
    h2{
        width: 150px;
        background: linear-gradient(
        to top,
        #fff1a8 60%,
        transparent 40%
        );
    }
}

.share_show {
    animation-delay: 0.08s;
    h2{
        width: 150px;
        background: linear-gradient(
        to top,
        #ffd6de 60%,
        transparent 40%
        );
    }
}

.open_show {
    animation-delay: 0.12s;
    h2{
        width: 150px;
        background: linear-gradient(
        to top,
        #d9f4ff 60%,
        transparent 40%
        );
    }
}

// 모눈
.private_show::after,
.share_show::after,
.open_show::after{
    content: '';

    position: absolute;

    top: 120px;
    left: 18px;
    right: 18px;
    bottom: 18px;

    background-image:
        linear-gradient(
            rgba(255, 220, 124, 0.74),
            transparent 1px
        ),
        linear-gradient(
            90deg,
            rgba(255, 220, 124, 0.74),
            transparent 1px
        );

    background-size: 18px 18px;
    border: 1px solid rgba(230, 210, 180, 0.35);;

    pointer-events: none;
}


.private_show h2,
.share_show h2,
.open_show h2{
    position: relative;
    z-index: 2;

    font-family: 'Griun';
    font-weight: bold;
    font-size: 30px;
    color: #2b2b2b;

    margin: 10px 0 5px 0;

    letter-spacing: -1px;
}
.h2_line{
    display: flex;
    width: 180px;
    border-top: 3px solid #ffde58;
}

.more{
    position: absolute;

    top: 35px;
    right: 28px;

    text-decoration: none;
    color: #999;
    font-size: 14px;

    z-index: 2;
    transition: 0.2s;
}

.more:hover{
    color: #555;
}

/* 게시글 목록 */
.post_list{
    position: relative;
    margin-top: 53px;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* 게시글 */
.homeposts{
    text-decoration: none;
    cursor: pointer;
    padding: 16px 10px;

    background-color: #fefefe;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 10px;
    
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;

    
    &:hover{
        transform: translateX(5px) rotate(0.3deg);

        box-shadow:
            4px 6px 12px rgba(0,0,0,0.08),
            0 2px 4px rgba(0,0,0,0.05);
    }
}

.homeposts:hover{
    transform: translateX(4px);
}

/* 제목 */
.homeposts p:first-child{
    margin: 0;
    margin-left: 5px;
    font-family: 'Griun';
    font-size: 18px;
    font-weight: 600;
    color: #2A2C30;

    margin-top: 2px;
    margin-bottom: 20px;
}

/* 색상 */
.homeposts p:nth-child(2){
    margin-bottom: 6px;
    margin-left: 5px;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 15px;
    color: #036cc2;
}
.todaycolor{
    width: 100%;
    height: 15px;
}

.homeposts .user_info{
    display: flex;
    align-items: center;
    gap: 8px;
}
.homeposts .id_picture{
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-left: 5px;

            background-image: url('/assets/img/기본_프로필.png');
            background-size: cover;
            background-position: center;

            border-radius: 50px;
}

.homeposts .user_date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;

    margin-top: 10px;
}

.homeposts .username{
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 13px;    
}
/* 날짜 */
.homeposts p:last-child{
    margin: 0;
    font-family: 'Pretendard';
    font-weight: 300;
    font-size: 13px;
    color: #999;
}




.post_list.blurred{
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

.login_notice, .empty_post{
    position: absolute;

    top: 120px;
    left: 18px;
    right: 18px;
    bottom: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;

    font-family: 'pretendard';
    font-size: 18px;
    font-weight: bold;

    color: #444;

    backdrop-filter: blur(2px);
}
.empty_post{
    top: 350px;
}

.fake_color{
    display: inline-block;

    width: 15px;
    height: 15px;

    margin-left: 5px;

    border-radius: 50%;

    background: #dbdbdb;
}