


.mylog_calender {
  width: 1170px;
  margin: auto;
  background: #fafafa;
  padding: 20px;
  border-radius: 10px;

  .log_A{
    display: flex;
    align-items: center;
    margin-top: 9px;
    gap: 40px;
    h2{
      position: relative;
      left: 10px;
      top: -4px;
      margin-bottom: 30px;
      white-space: nowrap;

      font-family: 'Griun';
      font-weight: bold;
      font-size: 30px;
      color: #2A2C30;
    }
    .log_h2line{
      flex: 1;
      height: 3px;
      margin-top: 20px;
      background-color: #ffde58;
    }
  }

  .calendar_wrap{
    display: flex;
    gap: 20px;
    align-items: flex-start;

    .header {
      width: 160px;
      height: 824px;
      display: flex;
      flex-direction: column;
      border-top: 1px solid #b8b8b8;

      overflow: hidden;
      opacity: 0;
      animation: slideInRight 0.4s ease forwards;

      @keyframes slideInRight {
          from {
              opacity: 0;
              transform: translateX(60px);
          }
          to {
              opacity: 1;
              transform: translateX(0);
          }
      }
      
      .h2_month{
        margin: 0;
        margin-top: 20px;
        font-family: 'Griun';
        font-weight: bold;
        font-size: 30px;
        color: #2A2C30;
      }
      .h2_year{
        margin: 0;
        margin-top: 2px;
        font-family: 'Griun';
        font-weight: bold;
        font-size: 20px;
        color: #2A2C30;
      }
      .log_h2line2{
        height: 3px;
        margin-top: 5px;
        background-color: #ffde58;
      }

      .month_stats{
        margin-top: 10px;
        p{
          margin-bottom: 5px;
          font-family: 'Griun';
          font-weight: bold;
          font-size: 17px;
          color: #2A2C30;
        }
        .stats_index{
          display: flex;
          align-items: stretch;

          margin-bottom: 10px;

          transition: 0.2s ease;

          &:hover{
            transform: translateX(3px);
          }

          .index_tab{
            width: 42px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-family: 'Pretendard';
            font-size: 12px;
            letter-spacing: 1px;
            color: #2A2C30;

            border-top: 1px solid rgba(0,0,0,0.08);
            border-left: 1px solid rgba(0,0,0,0.08);
            border-bottom: 1px solid rgba(0,0,0,0.08);

            border-radius: 4px 0 0 4px;
          }

          .index_body{
            flex: 1;

            padding: 10px 12px;

            background: #fefefe;
            border-top: 1px solid rgba(0,0,0,0.08);
            border-right: 1px solid rgba(0,0,0,0.08);
            border-bottom: 1px solid rgba(0,0,0,0.08);

            font-family: 'Pretendard';
            font-size: 14px;
            color: #3A3A3F;

            border-radius: 0 4px 4px 0;
          }
        }
        .private_index .index_tab{
          background: #fff1a8;
        }

        .share_index .index_tab{
          background: #ffd6de;
        }

        .open_index .index_tab{
          background: #d9f4ff;
        }
      }

      .month_memo{
        margin-top: 5px;
        p{
          font-family: 'Griun';
          font-weight: bold;
          font-size: 17px;
          color: #2A2C30;

          margin-top: 5px;
          margin-bottom: 5px;
        }
        textarea{
          border: none;
          resize: none;
          outline: none;
          width: 138px;
          height: 390px;
          padding: 10px;
          margin-bottom: 5px;

          font-family: 'Pretendard';
          font-weight: 300;
          font-size: 14px;
          color: #3A3A3F;

          background-color: #FAFAFA;
          background-image:
            linear-gradient(
                rgba(255, 220, 124, 0.74),
                transparent 1px
            ),
            linear-gradient(
                90deg,
                rgba(255, 220, 124, 0.74),
                transparent 1px
            );
          background-size: 16px 16px;
          border: 1px solid rgba(230, 210, 180, 0.35);;
        }
        button{
          width: 100%;
          padding: 5px 0;

          font-family: 'Pretendard';
	        font-weight: 300;
          font-size: 14px;
          text-align: center;

          color: #2b2b2b;
          background-color: #ffde58;
          border: none;
          cursor: pointer;
        }
      }

      .header_btn{
        border-bottom: 1px solid #b8b8b8;
        justify-content: center; 
        display: flex;
        height: 29px;
        gap: 30px;
        margin-top: auto;
        .btn1 {
          border: none;
          background: none;
          padding: 0;
          font-family: 'Pretendard';
          font-weight: 300;
          font-size: 15px;
          color: #3A3A3F;
          cursor: pointer;
          transition:
            transform 0.3s ease,
            color 0.3s ease;

          &:hover{
            transform: translateX(-10px);
            color: #2A2C30;
          }
        }
        .btn2 {
          border: none;
          background: none;
          padding: 0;
          font-family: 'Pretendard';
          font-weight: 300;
          font-size: 15px;
          color: #3A3A3F;
          cursor: pointer;
          transition:
            transform 0.3s ease,
            color 0.3s ease;

          &:hover{
            transform: translateX(10px);
            color: #2A2C30;
          }
        }
      }
    }
  }

  .calendar_body{
    overflow: hidden;
    opacity: 0;
    animation: slideInRight 0.6s ease forwards;

    @keyframes slideInRight {
        from {
            opacity: 0;
            transform: translateX(60px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .week {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      text-align: center;
      font-family: 'Pretendard';
      font-weight: 300;
      font-size: 15px;
      color: #999;
      background-color: #eeeeee;
      border-top: 1px solid #b8b8b8a4;
      border-left: 1px solid #b8b8b8a4;
      border-right: 1px solid #b8b8b8a4;
      padding: 5px 0;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      border-top: 1px solid #b8b8b8a4;
      border-left: 1px solid #b8b8b8a4;
    }

    .cell {
      width: 130px;
      height: 121.3px;
      border-bottom: 1px solid #b8b8b8a4;
      border-right: 1px solid #b8b8b8a4;
      padding: 5px;
      position: relative;
      overflow: auto;
      cursor: pointer;
      background: #FAFAFA;
      &:hover {
        background: #f5f5f5;
      }
    }

    .date {
      position: absolute;
      margin: 5px;
      font-family: 'Pretendard';
      font-weight: 300;
      font-size: 15px;
      color: #2A2C30;
    }

    .diary {
      margin-top: 27px;
      font-size: 12px;
      color: #444;

      .diary_item{
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 8px;
        padding: 7px 7px;

        background: #fefefe;
        border: 1px solid rgba(0,0,0,0.08);

        border-radius: 4px;

        cursor: pointer;
        overflow: visible;
        transition: 0.2s ease;

        &:hover{
          transform: scale(1.06);
          box-shadow:
            0 4px 10px rgba(0,0,0,0.06);
        }

        .diary_type{
          font-family: 'Pretendard';
          font-weight: 300;
          font-size: 12px;
          color: #3A3A3F;

          white-space: nowrap;
        }

        .diary_tabs{
          display: flex;
          gap: 3px;

          .tab{
            width: 20px;
            height: 9px;

            border-radius: 2px;

            opacity: 0.8;
          }
        }
      }
    }
  }
}



